<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  <!--
    <textarea name="content" rows="10" cols="60">
Title:
Hosing Type:
House Address:
Housing Deposit:
Monthly Fee:
Other Description:
    </textarea>
    -->
    <%= f.text_area :title, placeholder: "Title", size: 10 %>
    <%= f.text_area :housingtype, placeholder: "Housing Type", size: 10 %>
    <%= f.text_area :address, placeholder: "Address", size: 20 %>
    <%= f.text_area :deposit, placeholder: "Deposit", size: 10 %>
    <%= f.text_area :fee, placeholder: "Monthly Fee", size: 20 %>
    <%= f.text_area :content, placeholder: "Other Description
    " %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>