<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <h1><%= micropost.title %></h1>
  	<%= image_tag micropost.picture.url if micropost.picture? %>
    <br>
    <table class="table table-striped table-bordered table-hover">
      <caption>Housing Info.</caption>
      <tr>
        <th>Housing Type</th>
        <th><%= micropost.housingtype %></th>
      </tr>
      <tr>
        <th>Address</th>
        <th><%= micropost.address %></th>
      </tr>
      <tr>
        <th>Housing Deposit</th>
        <th>$ <%= micropost.deposit %></th>
      </tr>
      <tr>
        <th>Monthly Fee</th>
        <th>$ <%= micropost.fee %></th>
      </tr>
    </table>
    <br>
    <table class="table table-striped table-bordered table-hover">
      <caption>Other Description</caption>
      <tr>
        <th><%= micropost.content %> </th>
      </tr>
    </table>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>